* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carGame {
    background-image: url(images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.road {
    border-right: 5px dashed #c8d6e5;
    border-left: 5px dashed #c8d6e5;
    background-color: rgb(54, 52, 52);
}

.startScreen {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 2;
    font-size: 30px;
    font-weight: bold;
    /* border: 2px solid rgb(133, 76, 76); */
    padding: 20px;
    background-color: rgb(194, 140, 60);
    z-index: 1;
    box-shadow: 5px 5px 5px #777;
}

#startBtn {
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    background-color: rgb(129, 88, 88);
    color: rgb(243, 127, 19);
}

.scoreBoard {
    position: absolute;
    top: 50px;
    left: 20px;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    background-color: #10ac84;
    /* border: 1px solid gray; */
    padding: 10px;
    box-shadow: 0 5px 5px #777;
}

.scoreBoard p {
    font-size: 20px;
    color: rgb(180, 75, 36);
}

.scoreBoard hr {
    margin: 2px 0;
}

.road {
    width: 300px;
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.lane {
    flex: 1;
    height: 100vh;
    /* border: 1px solid black; */
}

.left,
.middle,
.right {
    border: none;
}

.car {
    width: 50px;
    height: 80px;
    position: absolute;
    /* background: #49c; */
    bottom: 50px;
    /* transition: 0.4s; */
    background-image: url('images/img1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.enemyCar {
    width: 50px;
    height: 80px;
    position: absolute;
    /* background: #49c; */
    bottom: 10px;
    /* background-image: url('images/img2.png'); */
    /* transition: 0.4s; */
}

.car.lane-left {
    left: 25px;
}

.car.lane-middle {
    left: 125px;
}

.car.lane-right {
    left: 225px;
}

.hide {
    display: none;
}

.lines,
.line1 {
    position: absolute;
    top: 0;
    left: 97.5px;
    height: 100px;
    width: 5px;
    background-color: rgb(235, 224, 224);
}

.line1 {
    left: 97.5px;
}

.line2 {
    left: 190px;
}