.gameArea {
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border: 1px solid red;
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.gameArea .bird {
    position: absolute;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-image: url('../images/bird1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 250px;
    left: 100px;
}